<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/list.css">
    <title>
        <%- title%>
    </title>
</head>

<body>
    <div class="index-app">
        <header>
            <h2>后台管理系统</h2>
            <h3>欢迎回来：
                <%- header%>先生</h3>
            <a href="http://127.0.0.1:8080/outlogin">退出登录</a>
        </header>
        <section>
            <div class="left-content">
                <ul class="main-left" id='main-left'>
                    <li id='list1'>
                        <span>上传</span>
                    </li>
                    <li id='list2'>
                        <span>列表</span>
                    </li>
                </ul>
            </div>
            <div class="main">
                <table>
                    <tbody>
                        <tr>
                            <th class="fixed-width">id</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>内容</th>
                            <th>素材</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        <%data.forEach(function(item) {%>
                            <tr>
                                <td class="fixed-width">
                                    <%=item.id%>
                                </td>
                                <td>
                                    <%=item.title%>
                                </td>
                                <td>
                                    <%=item.author%>
                                </td>
                                <td>
                                    <div>
                                        <%=item.content%>
                                    </div>
                                </td>
                                <td>
                                    <%item.images.images.map(function(itemImg) {%>
                                        <img src="<%= itemImg.url%>" alt="图片错误">
                                        <%}).join(',')%>
                                </td>
                                <td>
                                    <%=item.createtime%>
                                </td>
                                <td>
                                    <p class="operation">
                                        <button data-btn="/mod" data-id="<%=item.id%>">编辑</button>
                                        <button data-btn="/del" data-id="<%=item.id%>">删除</button>
                                    </p>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
<script src="/common/ajax.js"></script>
<script>
    $.getid('main-left').onclick = (ev) => {
        let e = event || window.event;
        let target = e.target;
        // console.log(target.id);
        switch (target.id) {
            case 'list1':
                window.location.href = 'http://127.0.0.1:8080/success';
                break;
            case 'list2': window.location.href = 'http://127.0.0.1:8080/list';
                break;
        }
    }
    let opB = [...document.getElementsByClassName('operation')];
    // console.log(opB);
    opB.forEach(ele => {
        ele.onclick = function (event) {
            let e = event || window.event;
            let { btn, id } = e.target.dataset;
            let options = null;
            // console.log(e.target.dataset) //获取带有数据的对象

            if (btn === '/del') {
                options = {
                    url: 'http://127.0.0.1:8080/list/del',
                    method: 'post',
                    data: {
                        id,
                    }
                }
                $.ajax(options, (res) => {
                let result = JSON.parse(res);
                if (result.status === 200) {
                    window.location.href = 'http://127.0.0.1:8080/list'
                }
                else {
                    alert(result.err)
                }
            })
            } else if (btn === '/mod') {
                options = {
                    url: 'http://127.0.0.1:8080/list/mod',
                    method: 'post',
                    data: {
                        id,
                    }
                }
                $.ajax(options, (res) => {
                // let result = JSON.parse(res);
                // if (result.status === 200) {
                //     window.location.href = 'http://127.0.0.1:8080/success'
                // }
                // else {
                //     alert(result.err)
                // }
                window.location.href = 'http://127.0.0.1:8080/success'
            })
            }
        };

    })
</script>

</html>